*{
	box-sizing:border-box;
}
html, body{
	margin:0 auto;
	padding:0;
	font-family:Montserrat, sans-serif;
}
@font-face{
	font-family:Montserrat;
	src:url('Montserrat-Regular.ttf');
}
body{
	font-size:2em;
	background-color:#CCFFFF;
	
}
header{
}
header > h1{
	white-space:nowrap;
	padding-left:0.5em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	margin:0;
	width:100%;
	height:100%;
	background:linear-gradient(left,#ADD8E6,#CCFFFF);
	background:-webkit-linear-gradient(left,#ADD8E6,#CCFFFF);
	background:-o-linear-gradient(left,#ADD8E6,#CCFFFF);
	background:-moz-linear-gradient(left,#ADD8E6,#CCFFFF);
	background-size:400% 400%;
	animation:headAnima 10s ease infinite;
}
@keyframes headAnima{
	0%{
		background-position:0% 50%;
	}
	25%{
		background-position:50% 50%;
	}
	50%{
		background-position:100% 50%;
	}
	75%{
		background-position:50% 50%;
	}
	100%{
		background-position:0% 50%;
	}
}
header > h1 div{
	width:5.6em;
}
#fa{
	color:blue;
	float:left;
	transition-duration:300ms;
	transition-property:color;
}
#ta{
	color:black;
	width:6em;
	transition-duration:300ms;
	transition-property:color;
}

header a:link{text-decoration:none}
header div:hover #fa{color:#800000;text-decoration:none}
header div:hover #ta{color:#CC0000;text-decoration:none}

#nth_h{
	padding-left:0.5em;
	font-size:1.3em;
	border-bottom:1px solid silver;
}
#nth_h > p{
	font-size:100%;
	margin:0;
}
footer, #nth_h{
	background-color:#B0C4DE;
}
#boat{width:100%; float:left}
footer{
	padding-top:0.3em;
	padding-bottom:0.3em;
	padding-left:0.3em;
	border-top:1px solid silver;
	clear:both;
}
footer > p{
	margin:0;
	width:100%;
	height:100%;
	color:#646B63;
	font-size:1em;
}
.table{
width:100%;
border-collapse:collapse;
border-spacing:0;
background-repeat:no-repeat;
background-size:cover;
}
	
td{
	background-color:rgba(0,0,0,0.5);	
}
.daught{
	position:relative;
	height:10em;
	border:0;
}
.nth_str{
	position:absolute;
	right:5%;
	bottom:23%;
}
.date{
	position:absolute;
	top:5%;
	left:5%;
}
.img{
	position:absolute;
	top:25%;
	left:0;
	width:5em;
}
.highT{
	font-size:1.5em;
}
.lowT{
	font-size:1em;
}
.day_ofw{
	position:absolute;
	right:5%;
	top:5%;
}
.speed_pos{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	background-color:rgba(135,206,235,0.5);
	height:2em;
}
.speed_pos div{
	position:absolute;
	left:2em;
	bottom:0.3em;
	font-size:1em;
	width:3em;
}
.speed_pos img{
	position:absolute;
	left:0;
	bottom:0em;
	width:2em;

}
	

footer > p a:link{text-decoration:none;color:#646B63}
footer > p a:visited{text-decoration:none;color:#646B63}
footer > p a:hover{text-decoration:none; color:#646B63}
footer > p a:active{text-decoration:none;color:#646B63}

@media (max-width:1500px){
	body{
		font-size:2em
	}
	.img{
		width:5em
	}
	.highT{
		font-size:1.15em
	}
	.lowT{
		font-size:0.75em
	}
	.speed_pos div{
		position:absolute;
		left:2em;
		bottom:0.3em;
		font-size:1em;
		width:3em;
	}
	.speed_pos img{
		position:absolute;
		left:0;
		bottom:0em;
		width:2em;
	}
}
@media (max-width:1365px){
	body{
		font-size:2.3em
	}
	.img{
		width:4.5em;
		top:35%;
	}
	.highT{
		font-size:0.9em
	}
	.lowT{
		font-size:0.6em
	}
	.day_ofw{
		top:25%;
		left:5%;
	}
	.speed_pos div{
		position:absolute;
		left:2.5em;
		bottom:0.5em;
		font-size:0.8em;
		width:3em;
	}
	.speed_pos img{
		position:absolute;
		left:0;
		bottom:0em;
		width:2em;
	}
}

@media (max-width:1024px){
	body{
		font-size:1.86em
	}
	.img{
		width:4.1em;
		top:25%;
		left:-12%;
	}
	.highT{
		font-size:1.2em;
	}
	.lowT{
		font-size:1em;
	}
	.daught{
		height:13em;
	}
	.day_ofw{
		top:18%;
	}
	.speed_pos div{
		position:absolute;
		left:2.55em;
		bottom:0.7em;
		font-size:0.72em;
		width:2.81em;
	}
	.speed_pos img{
		position:absolute;
		left:0;
		bottom:0em;
		width:2em;
	}
	footer > p{
	font-size:1.05em;
	}
	#nth_h{
	font-size:1.5em;
	}
	header > h1{
		font-size:2.5em;
	}
}

@media (max-width:370px){
	header h1{
		padding-left:0.3em;
		padding-top:0.5em;
		padding-bottom:0.5em;
		font-size:3.5em;
	}
	#nth_h{
		font-size:2em;
	}
	
	.img{
		width:6.3em;
		top:25%;
	}
	.highT{
		font-size:1.5em
	}
	.nth_str{
		position:absolute;
		right:5%;
		bottom:17%;
	}
	.lowT{
		font-size:1.2em
	}
	.daught{
		height:15em;
	}
	.date{
		font-size:1.4em;
	}
	.day_ofw{
		font-size:1.4em;
	}
	.speed_pos div{
		position:absolute;
		left:41%;
		bottom:10%;
		font-size:1.2em;
		width:2.6em;
	}
	.speed_pos img{
		position:absolute;
		left:0;
		bottom:-0.2em;
		width:2.5em;
	}
	.speed_pos{
		height:2.35em;
	}
	footer p{
		font-size:1.47em;
		padding-top:0.3em;
		padding-left:0.1em;
		
}