*{
	box-sizing:border-box;
}
html, body{
	margin:0 auto;
	padding:0;
	font-family:Montserrat, sans-serif;
}
@font-face{
	font-family:Montserrat;
	src:url('Montserrat-Regular.ttf');
}
body{
	font-size:2em;
	background-color:#CCFFFF;
	
}
header{
}
header > h1{
	white-space:nowrap;
	padding-left:0.5em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	margin:0;
	width:100%;
	height:100%;
	background-image:linear-gradient(left,#CCFFFF,white);
	background-image:-webkit-linear-gradient(left,#CCFFFF,white);
	background-image:-o-linear-gradient(left,#CCFFFF,white);
	background-image:-moz-linear-gradient(left,#CCFFFF,white);
}
header > h1 div{
	width:5.6em;
}
#fa{
	color:blue;
	float:left;
	transition-duration:300ms;
	transition-property:color;
}
#ta{
	color:black;
	width:6em;
	transition-duration:300ms;
	transition-property:color;
}

header a:link{text-decoration:none}
header div:hover #fa{color:#800000;text-decoration:none}
header div:hover #ta{color:#CC0000;text-decoration:none}

#nth_h{
	padding-left:0.5em;
	font-size:1em;
}
#nth_h > p{
	font-size:100%;
	margin:0;
}
footer, #nth_h{
	background-color:#E3735E;
}
#boat{width:100%; float:left}
footer{
	padding-top:0.3em;
	padding-bottom:0.3em;
	padding-left:0.3em;
	clear:both;
}
footer > p{
	margin:0;
	width:100%;
	height:100%;
	color:#646B63;
	font-size:0.7em;
}
.table{
width:100%;
border-collapse:separate;
border-spacing:0;
}
	
td{
	background-color:#CCFFFF;
}
.daught{
	position:relative;
	height:7.5em;
	border:1px solid silver;
}
.nth_str{
	position:absolute;
	right:5%;
	bottom:15%;
}
.date{
	position:absolute;
	top:5%;
	left:5%;
}
.img{
	position:absolute;
	top:25%;
	left:0;
	width:5em;
}
.highT{
	font-size:1.5em;
}
.lowT{
	font-size:1em;
}
.day_ofw{
	position:absolute;
	right:5%;
	top:5%;
}

footer > p a:link{text-decoration:none;color:#646B63}
footer > p a:visited{text-decoration:none;color:#646B63}
footer > p a:hover{text-decoration:none; color:#646B63}
footer > p a:active{text-decoration:none;color:#646B63}

@media (max-width:1500px){
	body{
		font-size:2em
	}
	.img{
		width:5em
	}
	.highT{
		font-size:1.15em
	}
	.lowT{
		font-size:0.75em
	}
	.nth.str{
		
}

@media (max-width:1365px){
	body{
		font-size:2em
	}
	.img{
		width:4.5em;
		top:40%;
	}
	.highT{
		font-size:0.9em
	}
	.lowT{
		font-size:0.6em
	}
	.day_ofw{
		top:25%;
		left:5%;
	}

@media (max-width:1024px){
	body{
		font-size:1.8em
	}
	.img{
		width:4em;
		top:30%;
	}
	.highT{
		font-size:1em
	}
	.lowT{
		font-size:0.8em
	}
	.daught{
		height:13em;
	}
	.day_ofw{
		top:18%;
}

@media (max-width:320px){
	body{
		font-size:2.2em
	}
	.img{
		width:4em;
		top:30%;
	}
	.highT{
		font-size:1.2em
	}
	.lowT{
		font-size:1em
	}
	.daught{
		height:13em;
	}
}